<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Goodbye from rottenmangoes.com, <%= @user.full_name %></h1>
  <p>
    Your account has been removed from our database.<br>
  </p>
  <p>
    If you ever want to return, just follow this link: <%= @url %>.
  </p>
  <p>We are sorry to see you leave!</p>
</body>
</html>