<%= render 'search_form'  %>

<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>


<ul class="list-unstyled list-group row">
	<% @movies.each do |movie| %>
		<%= render partial: "movie", locals: { movie: movie } %> 
	<% end %>
</ul>


