<%= link_to "Submit a movie!", new_movie_path, class: 'btn btn-danger navbar-btn' %>
<hr>

<ul class="list-unstyled list-group row">
	<% @movies.each do |movie| %>
		<%= render partial: "movie", locals: { movie: movie } %> 
	<% end %>
</ul>
<div class="row">
	<div class="col-md-4 .col-md-offset-4">
		<%= paginate @movies %>
	</div>
</div>

